fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
pymysql
cryptography
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
langchain-text-splitters
pypdf
sentence-transformers
pdfplumber
rank_bm25